@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sulphur+Point:wght@700&display=swap');
main {
    font-family: 'Sulphur Point', sans-serif;
    padding: 1rem;
}

.center {
    max-width: 30rem;
    margin-left:auto;
    margin-right: auto;
}

.signIn-box {
    max-width: 20rem;
}

fieldset {
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px;
}

.stack-md {
    margin-top:0;
    margin-bottom: 1rem;
}
